# System and IDE files
/.vscode
.DS_Store
/build*

# Dependencies
/cpm_modules

# Build files
CMakeCache.txt

# Debugger files
.gdb_history
peda-session*

# Application specific files
*.pem
*.json

# User specific
userabc/

# General
FILESYSTEM/*